.main_container {
    min-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template: 25% 50% 25% / 25% 50% 25%;
    grid-template-areas:
        "left_0 middle_0 right_0"
        "left_1 middle_1 right_1"
        "left_2 middle_2 right_2";
}

.mainform {
    grid-area: middle_1;
    display: flex;
    justify-content: center;
}

.hideform{
    display:none;
}


.gotobtn{

    cursor:pointer;

    color:darkslateblue;
}