.wrapper {
    background-color: #c7dcff;
    min-height: 100vh;
    display: grid;
    grid-template: 70px 1fr 50px / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    padding:0 15px;
}
@font-face {
    font-family: 'wiguru';
    src: local('wiguru'), local('wiguru'), url('/fonts/wiguru.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "wiguru";
}