<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - FunpayGold</title>
    
    <link rel="stylesheet" href="~/css/dropstyles.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/wrapper.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/footer.css" type="text/css"/>

</head>
<body>

<div class="wrapper">

    <header class="header">
        <p>FunplayGold</p>
    </header>


    <main class="main">
        @RenderBody()
    </main>
    

    <footer class="footer">
        <p>Footer FunplayGold</p>
    </footer>

</div>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
